---

- name: Add apt key (Desktop ver.)
  become: true
  apt_key: 
    apt-key: 
    id: "{{ apt_desktop_keys.value.id }}"
    url: "{{ apt_desktop_keys.value.url }}"
    state: present

- name: Add apt repositories (Desktop ver.)
  become: true
  apt_repository: repo={{ apt_desktop_repository.value }} state=present

- name: Install all apt packages (Desktop ver.)
  become: true
  apt: 
    name: "{{ apt_desktop_packages }}"
    state: present
    update_cache: yes
