---

- name: Install VimPlug for Vim PlugIn management
  command: |
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  tags: editor

- name: Clone Vimrc
  git:
    repo: https://github.com/aweimeow/aweimeow.vim
    dest: /tmp/aweimeow.vim
  tags: editor

- name: Install .vimrc
  command: cp /tmp/aweimeow.vim/init.vim ~/.vimrc
  tags: editor

- name: Install Vim Plugin
  command: vim +PluginInstall +qall
  tags: editor
